In [1]:
# # # Float Data Type :-

In [4]:
# Number with decimal point

f = 1.023

In [5]:
f = 0b1.1101

SyntaxError: invalid syntax (1303742753.py, line 1)

In [6]:
f = 0o1.1101

SyntaxError: invalid syntax (80143744.py, line 1)

In [7]:
f = 0x1.1101

SyntaxError: invalid syntax (3300714294.py, line 1)

In [8]:
# Float values we should specify only in decimal format

In [11]:
# Exponential form or Scientific notation
f = 1.2e3
print(f)

1200.0

In [12]:
f = 1.2E3
print(f)

1200.0

In [14]:
# We can represent big values in less memory

a = 120000000000000000000000000000000000000
print(a)

b = 12e16
print(b)

120000000000000000000000000000000000000
1.2e+17

In [15]:
# Conditions for Float Data Type :-

# 1. with decimal point
# 2. only in decimal
# 3. exponential form

In [16]:
# # # Complex Data Type :-

In [33]:
# In C, C++, Java-->complex data type not available

# Format :-
    # a+bj

    # a is real number
    # b is imaginary part
    # j is fixed variable

# For a we can use any base
# For b we should use only decimal form

In [19]:
c = 10 + 20j
print(c)

(10+20j)

In [20]:
c = -10 -25j
print(c)

(-10-25j)

In [21]:
# For a, b we can use both int, float values

In [23]:
c = 10.5 + 20.6j
print(c)

(10.5+20.6j)

In [24]:
c = 0B1111 + 20j
print(c)

(15+20j)

In [25]:
c = 0B1111 + 0b0111j

SyntaxError: invalid binary literal (2151220821.py, line 1)

In [27]:
a = 10 + 20j
b = 20 + 30j

print(a+b)
print(a-b)
print(a/b)
print(a*b)

(30+50j)
(-10-10j)
(0.6153846153846154+0.0769230769230769j)
(-400+700j)

In [36]:
c = 10*20j      # 10*(0+20j)
print(c)

200j

In [32]:
a = 10 + 20.5j

print(a.real)
print(a.imag)

10.0
20.5

In [34]:
a = True + 20.5j
print(a)

(1+20.5j)

In [37]:
# # # Boolean Data Type :-

In [39]:
# boolean values / logical values

# Example:
    # True --> 1
    # False --> 0

In [41]:
a = True
print(a)

b = False
print(b)

True
False

In [42]:
#  Comparison Operation:
age = 30
if age > 25:
    print('AGE is greater than 25')

AGE is greater than 25

In [45]:
True + True

2

In [46]:
True + False

1

In [47]:
True * False

0

In [48]:
True + Truej

NameError: name 'Truej' is not defined

In [49]:
True + 20j

(1+20j)

In [50]:
# # # Str Data Type :-

In [52]:
# str --> string

# Any sequence of character within either single quotes or double quotes

In [61]:
s = 'Pulkit'
print(s)

Pulkit

In [62]:
s = "Pulkit"
print(s)

Pulkit

In [63]:
s = Pulkit

NameError: name 'Pulkit' is not defined

In [64]:
s = 'Pulkit"

SyntaxError: unterminated string literal (detected at line 1) (3782214682.py, line 1)

In [65]:
s = '''Pulkit
    Chahal
    Python
    Practice'''

print(s)

Pulkit
    Chahal
    Python
    Practice

In [66]:
# Multi line String Literals :-

# triple quotes
# triple single quotes
# triple double quotes

In [67]:
s = """Pulkit
    Chahal
    Python
    Practice"""

print(s)

Pulkit
    Chahal
    Python
    Practice

In [69]:
s = "Python classes by 'Durga Sir' are average"
print(s)

Python classes by 'Durga Sir' are average

In [70]:
s = 'Python classes by "Durga Sir" are average'
print(s)

Python classes by "Durga Sir" are average

In [71]:
s = 'Python 'classes' by "Durga Sir" are average'

SyntaxError: invalid syntax (3584787214.py, line 1)

In [72]:
s = '''Python 'classes' by "Durga Sir" are average'''
print(s)

Python 'classes' by "Durga Sir" are average

In [77]:
s1 = '''Pulkit'''
s2 = 'Pulkit'
s3 = "Pulkit"

In [78]:
s1

'Pulkit'

In [79]:
s2

'Pulkit'

In [80]:
s3

'Pulkit'

In [81]:
s = 'Python \'classes\' by "Durga Sir" are average'
print(s)

Python 'classes' by "Durga Sir" are average

In [82]:
s = "Python \'classes\' by \"Durga Sir\" are average"
print(s)

Python 'classes' by "Durga Sir" are average

In [84]:
# We use strings:-

# 1. To define multiline string literals
# 2. To use single quote or double quote as normal character

In [85]:
s = 'durga'

In [86]:
s[0]

'd'

In [87]:
s[1]

'u'

In [88]:
s[2]

'r'

In [90]:
s[10]

IndexError: string index out of range

In [91]:
#  +ve index always from left to right
#  -ve index always from right to left

In [92]:
s[-1]

'a'

In [93]:
s[-2]

'g'

In [94]:
s[-3]

'r'

In [98]:
s[-6]

IndexError: string index out of range

In [99]:
s[len(s)-1]

'a'