# # Overloading of < operator for Student class Object :-

In [3]:
# < ===> __lt__()

In [5]:
# wrt marks
# if we want to compare both name and marks?
# based on marks
# based on length of name
# based on length of name and marks
# compare with marks and if marks are equal then compare with names

In [9]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def __lt__(self, other):
        result = self.marks < other.marks
        return result


s1 = Student("Durga", 100)
s2 = Student("Ravi", 200)
s3 = Student("Shiva", 300)

print(s1 < s2)
print(s1 < s3)
print(s1 > s3)

True
True
False

In [10]:
# To provide support for < and > operators : either __lt__() or __gt__()

# To provide support for <= and >= operators : either __le__() or __ge__()

In [12]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def __lt__(self, other):
        result = self.marks < other.marks
        return result

    def __le__(self, other):
        result = self.marks <= other.marks
        return result


s1 = Student("Durga", 100)
s2 = Student("Ravi", 200)
s3 = Student("Shiva", 100)

print(s1 <= s2)
print(s1 <= s3)
print(s1 >= s3)
print(s1 >= s2)

True
True
True
False

In [13]:
# compare with marks and if marks are equal then compare with names(alphabetically)?

In [15]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def __lt__(self, other):
        if self.marks == other.marks:
            result = self.name < other.name
            return result
        else:
            result = self.marks < other.marks
            return result


s1 = Student("Durga", 100)
s2 = Student("Apple", 200)
s3 = Student("Ravi", 100)

print(s1 < s2) # True
print(s1 < s3) # True
print(s2 < s3) # False
print(s3 < s1) # False

True
True
False
False

# # Overlaod Multiplication Operator to work on Employee Objects :-

In [26]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __mul__(self, other):
        total_salary = self.salary * other.days
        return total_salary


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days


e = Employee("Durga", 500)
t = TimeSheet("Durga", 25)

print("This Month Salary :", e * t)

This Month Salary : 12500

In [27]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __mul__(self, other):
        total_salary = self.salary * other.days
        return total_salary


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days


e = Employee("Durga", 500)
t = TimeSheet("Durga", 25)

print("This Month Salary :", e * t)
print("This Month Salary :", t * e)

This Month Salary : 12500

TypeError: unsupported operand type(s) for *: 'TimeSheet' and 'Employee'

In [28]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __mul__(self, other):
        total_salary = self.salary * other.days
        return total_salary


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days

    def __mul__(self, other):
        total_salary = self.days * other.salary
        return total_salary


e = Employee("Durga", 500)
t = TimeSheet("Durga", 25)

print("This Month Salary :", e * t)
print("This Month Salary :", t * e)

This Month Salary : 12500
This Month Salary : 12500

In [29]:
# how do we access timesheet class here(other.salary)?

# t * e ===> first argument is TimeSheet
# TimeSheet class magic method will be called by passing t and e as arguments
# self = t ===> self.days(25)
# other = e ===> other.salary = 500

In [32]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def __str__(self):
        # return self.name
        # return str(self.marks)
        return f"Name: {self.name}, Marks: {self.marks}"


s1 = Student("Durga", 100)
s2 = Student("Ravi", 200)

print(s1)
print(s2)

Name: Durga, Marks: 100
Name: Ravi, Marks: 200

In [34]:
class Book:
    def __init__(self, pages):
        self.pages = pages

    def __str__(self):
        return f"Number of Pages: {self.pages}"


b1 = Book(200)
b2 = Book(500)

print(b1)
print(b2)

Number of Pages: 200
Number of Pages: 500