In [3]:
# set --> unique elements(no duplicates)
        # order is not important

s = {10, 20, 30, 40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [4]:
# unique elements(no duplicates)
# order is not important
# frozenset

s = {10, 20, 30, 40}
fs = frozenset(s)
fs.add(50)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
# bytes and bytearray

# 0 to 255
# bytes --> immutable
# bytearray --> mutable

# images, video files and audio files etc

In [7]:
l = [10, 20, 30, 40]
b = bytes(l)
for x in b:
    print(x)

10
20
30
40

In [8]:
b[0] = 50

TypeError: 'bytes' object does not support item assignment

In [9]:
l = [10, 20, 30, 40]
b = bytearray(l)
for x in b:
    print(x)

10
20
30
40

In [10]:
b[0] = 50

In [11]:
for x in b:
    print(x)

50
20
30
40

In [12]:
print('# this is comment')

# this is comment

# # # Operators :-

In [16]:
# Telephone Operator
# Camera Operator

# # Types of Operators:-

    # 1. Arithmetic Operators

    # 2. Relational Operators

    # 3. Logical Operators

    # 4. Bitwise Operators

    # 5. Assignment Operators

    # 6. Special Operators

# # 1. Arithmetic Operators :-

In [39]:
# + --> Addition
# - --> Subtraction
# * --> Multiplication
# / --> Division
# % --> Modulo Operator

# // --> Floor Division Operator
# ** --> Exponent Operator or Power Operator

In [42]:
10+2

12

In [43]:
10-2

8

In [44]:
10*2

20

In [57]:
10%2

0

In [58]:
# # Note:-
    # The result of '/' division operator is always float type

    # // result is either int type or float type
        # If both arguments are int type result is int type only
        # If atleast one argument is float type result is float type

In [66]:
10/2

5.0

In [59]:
10//2

5

In [60]:
23/6

3.8333333333333335

In [69]:
23//6

3

In [70]:
1.2//2

0.0

In [71]:
# 1.56 ->

# floor int value ==> 1
# floor float value ==> 1.0
# ceil int value ==> 2
# ceil float value ==> 2.0

In [72]:
10.0/2

5.0

In [73]:
10.0//2

5.0

In [74]:
10/3

3.3333333333333335

In [75]:
10//3

3

In [78]:
10.0/3

3.3333333333333335

In [79]:
10.0//3

3.0

In [80]:
# * --> multiplication
# ** --> exponential or power

In [83]:
10**3   # 10 * 10 * 10

1000

In [84]:
3**3    # 3 * 3 * 3

27

In [85]:
3***3

SyntaxError: invalid syntax (3536820341.py, line 1)

In [86]:
3.0**3

27.0

In [88]:
3**3*2

54

In [89]:
10**-3

0.001

In [90]:
10**2.8

630.957344480193

In [91]:
3//2

1

In [92]:
# + and * :-

# + operator applicable for str type also
# concatenation operator

In [94]:
s = 'durga' + 'soft'
print(s)

durgasoft

In [96]:
'durga' + str(10)

'durga10'

In [97]:
int('durga')

ValueError: invalid literal for int() with base 10: 'durga'

In [99]:
'durga' + 10

TypeError: can only concatenate str (not "int") to str

In [100]:
# Problem with Value ValueError

# Problem with Type TypeError

In [101]:
'durga' * 3

'durgadurgadurga'

In [102]:
'durga' * 'durga'

TypeError: can't multiply sequence by non-int of type 'str'

In [106]:
'durga' * int('10')

'durgadurgadurgadurgadurgadurgadurgadurgadurgadurga'

In [107]:
# + --> both arguments should be str type or int type
# * --> one arg str and one arg int

In [109]:
'durga' * 10.0

TypeError: can't multiply sequence by non-int of type 'float'

In [110]:
10/0

ZeroDivisionError: division by zero

In [111]:
10.0/0

ZeroDivisionError: float division by zero

In [112]:
'abc' * 0

''

# # 2. Relational Operators :-

In [114]:
# <, <=, >, >=

In [116]:
a = 10
b = 20

In [117]:
a < b

True

In [118]:
a <= b

True

In [119]:
a > b

False

In [120]:
a >= b

False

In [122]:
# string values also comparison is bsaed on unicode value/ascii value

# a --> 97
# b --> 98
# c --> 99

# A --> 65
# B --> 66
# C --> 67

In [123]:
a = 'durga'
b = 'ravi'

In [124]:
a < b

True

In [125]:
a <= b

True

In [126]:
a > b

False

In [127]:
a >= b

False

In [128]:
a = 'durga'
b = 'Durga'

In [129]:
a < b

False

In [130]:
a <= b

False

In [131]:
a > b

True

In [132]:
a >= b

True

In [135]:
ord('d')

100

In [136]:
ord('D')

68

In [137]:
ord('a') * ord('b')

9506

In [138]:
ord('a') + ord('b')

195

In [144]:
# from char find ascii value
    # ord()

# from ascii value to char value
    # chr()

# char --> ord()
# ascii --> chr()

In [140]:
chr(99)

'c'

In [141]:
chr(10)

'\n'

In [143]:
chr(72) + chr(99)

'Hc'

In [145]:
# for boolean types

# True --> 1
# Fasle -->

In [146]:
a = True
b = False

In [147]:
a > b

True

In [148]:
a >= b

True

In [149]:
a < b

False

In [150]:
a <= b

False

In [151]:
'durga' < 10

TypeError: '<' not supported between instances of 'str' and 'int'

In [153]:
a = True
b = 10

In [154]:
a > b

False

In [155]:
a < b

True

In [156]:
2**2 < 5

True

In [157]:
2**2 > 5

False

In [158]:
'a' > '297'

True

In [160]:
ord('a')

97

In [161]:
ord('2')

50

In [163]:
ord('a') > ord('2')

True

In [164]:
10 < 20

True

In [165]:
10 < 20 < 30

True

In [166]:
10 < 20 < 30 < 40

True

In [167]:
10 < 20 < 30 < 40 > 50

False

In [184]:
# Chaning of Relational Operators:-
    # If all comparison returns True then the result is True.

    # If atleast one comparison returns False then the result is False.