In [1]:
# Language Fundamentals
# Operators and Assignments
# Input and Output Statements
    # Input Statements
        # input()
        # command line arguments

    # Output Statements

# # Output Statements :-

In [6]:
# Form-1 :-
    # print()

# To print new line character(\n)

In [7]:
print()

In [8]:
print('Hi')

Hi

In [9]:
print('\n')

In [16]:
# Form-2 :-
    # print('string')

# In the string we can use escape characters also

# String repeation Operator *
    # One argument must be string and other argument must be int
    # 'durga' * 3
    # 3 * 'durga'

# String concatenation Operator also +
    # Both arguments must be strings type:
    # 'durga' + 'soft'

In [11]:
print('DURGA\tSOFTWARE\tSOLUTIONS')

DURGA	SOFTWARE	SOLUTIONS

In [12]:
print('DURGA\nSOFTWARE\nSOLUTIONS')

DURGA
SOFTWARE
SOLUTIONS

In [14]:
print('DURGA' * 3)

DURGADURGADURGA

In [15]:
print('DURGA' + 'SOFT')

DURGASOFT

In [17]:
print(3 + 'durga' + 3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
print(3 * 'DURGA' + 'SOFT')

DURGADURGADURGASOFT

In [19]:
print('DURGA' + 'SOFT')
print('DURGA' , 'SOFT')

DURGASOFT
DURGA SOFT

In [26]:
# Form-3 :-
    # print() with sep attribute

# default value for sep attribute: space

# Other than space if you want any other, then we should use "sep" attribute
    # separator

In [21]:
a,b,c = 10,20,30
print('The Values are:', a,b,c)

The Values are: 10 20 30

In [23]:
name = 'DURGA'
gf = 'SUNNY'
print('Hello', name, 'Your Girl Friend', gf, 'is too good human being')

Hello DURGA Your Girl Friend SUNNY is too good human being

In [24]:
a,b,c = 10,20,30
print(a,b,c, sep='-')

10-20-30

In [25]:
a,b,c = 10,20,30
print(a,b,c, sep='')

102030

In [28]:
# Form-4 :-
    # print() with end attribute

# Other than \n if you want any other character: end attribute

# default value for end attribute: \n

In [34]:
print('Hello')
print('durga')
print('soft')

Hello
durga
soft

In [36]:
print('Hello', end='*')
print('durga', end=' ')
print('soft')

Hello*durga soft

In [38]:
a,b,c = 10,20,30

print(a,b,c, sep='-', end='###')
print(a,b,c, sep='-')
print('durga')

10-20-30###10-20-30
durga

In [39]:
# Form-5 :-
    # print(object)

In [40]:
print(10)

10

In [41]:
print(True)

True

In [42]:
print([10,20,30])

[10, 20, 30]

In [43]:
print((10,20,30))

(10, 20, 30)

In [45]:
# Form-6 :-
    # print(formatted string)

# %i --> int
# %d --> int
# %f --> float
# %s --> string type

In [46]:
# print('formatted string' %(variable list))

In [48]:
a = 10

print('a value is %i' %a)

a value is 10

In [49]:
a = 10
b = 20
c = 30

print('a value is %i b value is %i c value is %i' %(a,b,c))

a value is 10 b value is 20 c value is 30

In [50]:
a = 10
b = 20
c = 30

print('a value is %d b value is %d c value is %d' %(a,b,c))

a value is 10 b value is 20 c value is 30

In [51]:
name = 'durga'
l = [10,20,30,40]

print('hello %s... The List of items are %s' %(name, l))

hello durga... The List of items are [10, 20, 30, 40]

In [ ]:
# Form-7 :-
    # print() with {}

# {} --> Replacement Operator

In [53]:
name = 'Durga'
salary = 10000
gf = 'Sunny'

In [54]:
print(f'Hello {name}, your salary is {salary}, and your Friend is {gf}')

Hello Durga, your salary is 10000, and your Friend is Sunny

In [58]:
print('Hello {x}, your salary is {y}, and your Friend is {z}'.format(x=name, y=salary, z=gf))

Hello Durga, your salary is 10000, and your Friend is Sunny

In [60]:
print('Hello {0}, your salary is {1}, and your Friend is {2}'.format(name, salary, gf))

Hello Durga, your salary is 10000, and your Friend is Sunny

In [61]:
print('Hello {0}, your salary is {1}, and your Friend is {2}'.format(salary, gf, name))

Hello 10000, your salary is Sunny, and your Friend is Durga

In [62]:
print('Hello {}, your salary is {}, and your Friend is {}'.format(name, salary, gf))

Hello Durga, your salary is 10000, and your Friend is Sunny

In [64]:
print('Hi {0} sal is {1}'.format(0='AA', 1=10000))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2499026055.py, line 1)