In [14]:
# Cloning :-
    # The Process of creating duplicate object
    # Ways to create Cloning :
        # 1. By using slice operator
        # 2. By using copy() method

In [10]:
l1 = [10,20,30,40]
l2 = l1[:]

print(l1)
print(id(l1))

print(l2)
print(id(l2))

[10, 20, 30, 40]
2546502628992
[10, 20, 30, 40]
2546502573504

In [11]:
l1[1] = 777

print(l1)
print(l2)

[10, 777, 30, 40]
[10, 20, 30, 40]

In [12]:
l1 = [10,20,30,40]
l2 = l1.copy()

print(l1)
print(id(l1))

print(l2)
print(id(l2))

[10, 20, 30, 40]
2546502668224
[10, 20, 30, 40]
2546502553856

In [13]:
l1[1] = 777

print(l1)
print(l2)

[10, 777, 30, 40]
[10, 20, 30, 40]

In [15]:
l1[2] = 888

print(l1)
print(l2)

[10, 777, 888, 40]
[10, 20, 30, 40]

In [16]:
l2[2] = 999

print(l1)
print(l2)

[10, 777, 888, 40]
[10, 20, 999, 40]

# # Mathematical Operators for List Object :-

In [19]:
# + operator

In [20]:
a = [10,20,30]
b = [40,50,60]
c = a + b

print(c)

[10, 20, 30, 40, 50, 60]

In [21]:
a = [10,20,30]
b = [40,50,60]
c = a + 40

print(c)

TypeError: can only concatenate list (not "int") to list

In [22]:
a = [10,20,30]
b = [40,50,60]
c = a + [40]

print(c)

[10, 20, 30, 40]

In [24]:
# + operator and extend()

# + operator :-
    # both should be list

    # list+list

    # new object will be created and returns that object

# extend() :-
    # one should be list and other can be anything

    # l1.extend(l2)

    # new object won't be created and to the existing object only elements will be be added

In [28]:
a = [10,20,30] + [40,50,60]
print(c)

[10, 20, 30, 40]

In [29]:
a = [10,20,30]
a.extend({'a', 'b', 'c'})
print(a)

[10, 20, 30, 'a', 'c', 'b']

In [30]:
a = [10,20,30]
b = {'a', 'b', 'c'}

c = a + b
print(c)

TypeError: can only concatenate list (not "set") to list

In [31]:
# * operator :-

In [32]:
x = [10,20,30]
y = x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [34]:
# equality operators(==, !=) :-
    # l1 and l2

    # l1 == l2 returns True

    # 1. The number of elements
    # 2. The order of elements
    # 3. The content of the elements(including case)

In [35]:
x = ['dog', 'cat', 'rat']
y = ['dog', 'cat', 'rat']
z = ['DOG', 'CAT', 'RAT']

In [36]:
x == y

True

In [37]:
x == z

False

In [38]:
x != z

True

In [45]:
# Comparison Operators :-
    # <, >, <=, >=

    # Comparison is always based on first element if first element is same then go for second element

In [46]:
x = [10,10,5]
y = [10,20,30,40,50,60]

In [47]:
x > y

False

In [48]:
x >= y

False

In [49]:
x < y

True

In [50]:
x <= y

True

In [56]:
x = ['dog', 'cat', 'rat']
y = ['dog', 'cat', 'dog']

In [57]:
x > y

True

In [58]:
x >= y

True

In [59]:
x < y

False

In [55]:
x <= y

True

In [60]:
# Membership Operators :-
    # in, not in

In [61]:
x = ['dog', 'cat', 'rat']

In [62]:
'dog' in x

True

In [63]:
'zebra' in x

False

In [64]:
'zebra' not in x

True

# # Nested Lists :-

In [66]:
# List inside List

In [67]:
l = [10,20,[30,40]]
l

[10, 20, [30, 40]]

In [68]:
l[0]

10

In [69]:
l[1]

20

In [70]:
l[2]

[30, 40]

In [72]:
l[2][0]

30

In [73]:
l[2][1]

40

In [74]:
l = [10,[20,[30,[40]]]]
l

[10, [20, [30, [40]]]]

In [75]:
l[1][0]

20

In [77]:
l[1][1]

[30, [40]]

In [78]:
l[1][1][0]

30

In [79]:
l[1][1][1]

[40]

In [85]:
l = [[10,20,30],[40,50,60],[70,80,90]]
print(l)

print('Elements by Row Wise:')
for x in l:
    print(x)

print('Elements by Matrix Style:')
for row in l:
    for element in row:
        print(element, end=' ')
    print()

print('Elements by Matrix Style:')
for i in range(len(l)):
    for j in range(len(l[i])):
        print(l[i][j], end=' ')
    print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row Wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by Matrix Style:
10 20 30
40 50 60
70 80 90
Elements by Matrix Style:
10 20 30
40 50 60
70 80 90

# # List Comprehension :-

In [2]:
# # List Comprehension :-
    # It is very easy and compact way of creating list objects from iterable object(like list, tuple, set, dictionary, range, etc) based on some condition.

    # l = [ expression for item in sequence ]
    # l = [ x for x in range(15) ]

    # l = [ expression for item in sequence if condition ]
    # l = [ 2*item for item in range(1,11) if item%2 == 0 ]

In [88]:
range(10)

range(0, 10)

In [91]:
l = [x for x in range(15)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [93]:
l = [item for item in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
l = [item*item for item in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
l = [2*item for item in range(10)]
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [96]:
l = [2*item for item in range(1,11)]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [97]:
l = [2*item for item in range(1,11) if item%2==0]
l

[4, 8, 12, 16, 20]

In [100]:
l = [item*item*item for item in range(1,20) if item*item*item%2==0]
l

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832]

In [104]:
l = [int(x) for x in input('Enter Multiple Values:').split()]
l

[1, 2, 54, 13, 4, 54, 31, 6, 45]