# # # Tuple Data Structure :-

In [16]:
# 1. It is exactly same as list exvcept thta it is immutable.
    # Once we creates tuple object, we cannot change its content.
    # It is read only version of list.

# 2. Duplicates are allowed

# 3. Order will be preserved

# 4. index and slicing concepts are applicable

# 5. heterogeneous objects area allowed

# 6. ()

# 7. parenthesis are optional
    # single valued tuple ===> , is manadatory

In [3]:
l = [10, 20, 30, 40]
print(l)
l[0] = 777
print(l)

[10, 20, 30, 40]
[777, 20, 30, 40]

In [4]:
t = (10, 20, 30, 40)
print(t)

(10, 20, 30, 40)

In [5]:
t[0] = 777
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
t = (10, 20, 10, 'durga', '40')
t

(10, 20, 10, 'durga', '40')

In [7]:
t[0]

10

In [8]:
t[1:4]

(20, 10, 'durga')

In [13]:
t = 10,20,30,40
type(t)

tuple

In [12]:
t = 10,
type(t)

tuple

In [14]:
t = (10)
type(t)

int

In [15]:
t = (10,)
type(t)

tuple

In [17]:
t = ()
type(t)

tuple