In [2]:
# list is mutable where as tuple is immutable
    # facebook/ youtube comments section ---> List

# vendor machines ---> The allowed inputs are always fixed ---> tuple
    # Bank Application
        # account_types: Savings, Current ---> tuple

# Deposit machines..... like Notes are fixed(100, 200, 500, 2000)

In [4]:
# list ---> to access element  l[10] ---> 10ns
# tuple ---> to access element  t[10] ---> 6ns

# 100 elements ---> list ---> 100Bytes
# 100 elements ---> tuple ---> 60Bytes

In [9]:
import sys

l = [10, 20, 30, 40, 50, 60, 70, 80, 90]
t = (10, 20, 30, 40, 50, 60, 70, 80, 90)

print(sys.getsizeof(l))
print(sys.getsizeof(t))

136
112

In [5]:
# A sequence of elements
    # order is important
    # duplicates are allowed

In [6]:
# # Tuple Creation :-

In [7]:
t = ()
type(t)

tuple

In [8]:
# list ---> tuple
# set ---> tuple

# # By Using tuple() Function :-

In [12]:
l = [10, 20, 30]
print(l)

t = tuple(l)
print(t)

[10, 20, 30]
(10, 20, 30)

In [13]:
r = range(10)
t = tuple(r)
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
# eval() :-

In [14]:
t = eval(input('Enter tuple Value:'))
print(type(t))
print(t)

<class 'tuple'>
(4164564, 121, 54)

In [15]:
l = eval(input('Enter List Value:'))
print(type(l))
print(l)

<class 'tuple'>
(54, 5415, 5465, 415)

In [17]:
# # Accessing Elements of Tuple :-

In [21]:
# by using index
# by using slice opeartor

In [22]:
t = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
t

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [23]:
t[0]

10

In [24]:
t[5]

60

In [25]:
t[1:8:2]

(20, 40, 60, 80)

# # Tuple vs Immutable :-

In [27]:
# Tuples are immutable

In [28]:
t = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
t

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [29]:
t[0] = 777

TypeError: 'tuple' object does not support item assignment

# # Mathematical Operators :-

In [67]:
# +, *, ==, !=, >, >=, <, <=

In [58]:
t1 = (10, 20, 30)
t2 = (40, 50, 60)

print(t1)
print(t2)

(10, 20, 30)
(40, 50, 60)

In [59]:
t3 = t1 + t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [60]:
t4 = t1 * 3
print(t4)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

# # Important Functions and method related to Tuple :-

In [61]:
# 1. len()
# 2. count()
# 3. index()

# 4. sorted()
# 5. min()
# 6. max()

In [62]:
t = (10, 20, 30)
len(t)

3

In [63]:
t1 = (10, 20, 30, 40, 50, 60, 10, 40, 10)
t1.count(10)

3

In [64]:
t1 = (10, 20, 30, 40, 50, 60, 10, 40, 10)
t1.index(10)

0

In [65]:
t1 = (10, 20, 30, 40, 50, 60, 10, 40, 10)
t1.index(40)

3

In [66]:
t1 = (10, 20, 30, 40, 50, 60, 10, 40, 10)
t1.index(52)

ValueError: tuple.index(x): x not in tuple

In [50]:
l = [0, 20, 5, 15, 10]
l.sort()
print(l)

[0, 5, 10, 15, 20]

In [51]:
t = (0, 20, 5, 15, 10)
t.sort()
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [53]:
t = (0, 20, 5, 15, 10)
l1 = tuple(sorted(t))
print(l1)

(0, 5, 10, 15, 20)

In [54]:
t = (0, 20, 5, 15, 10)
l1 = tuple(sorted(t, reverse=True))
print(l1)

(20, 15, 10, 5, 0)

In [55]:
t = (0, 20, 5, 15, 10)
print(t)
print(min(t))

(0, 20, 5, 15, 10)
0

In [56]:
t = (0, 20, 5, 15, 10)
print(t)
print(max(t))

(0, 20, 5, 15, 10)
20

# # sort() vs sorted() :-

In [72]:
# sort() is list specific method.
    # Applicable only for list
    # It won't create new list and in the existing list only sorting will be happening
    # return type ---> None

# sorted() is general purpose python's inbuilt function.
    # Applicable for any sequence
    # A new lsit object will be created always
    # return type ---> List

In [71]:
l = [0, 20, 5, 15, 10]
print("Before Sorting:", l)
print("Before Sorting Address:", id(l))

l.sort()
print("After Sorting:", l)
print("After Sorting Address:", id(l))

Before Sorting: [0, 20, 5, 15, 10]
Before Sorting Address: 1986209712704
After Sorting: [0, 5, 10, 15, 20]
After Sorting Address: 1986209712704

In [70]:
l = [0, 20, 5, 15, 10]
print("Before Sorting:", l)
print("Before Sorting Address:", id(l))

l1 = sorted(l)
print("After Sorting:", l1)
print("After Sorting Address:", id(l1))

Before Sorting: [0, 20, 5, 15, 10]
Before Sorting Address: 1986209665280
After Sorting: [0, 5, 10, 15, 20]
After Sorting Address: 1986209667392

In [73]:
print(l)

[0, 5, 10, 15, 20]

In [75]:
t1 = (10, 20, 30, 40)
t2 = (10, 20, 30, 40)
t3 = (20, 30, 40, 10)

print(t1)
print(t2)
print(t3)

(10, 20, 30, 40)
(10, 20, 30, 40)
(20, 30, 40, 10)

In [76]:
t1 == t2

True

In [77]:
t1 == t3

False

In [78]:
t1 != t3

True

In [79]:
t1 < t2

False

In [80]:
t1 < t3

True

# # Tuple Packing and Unpacking :-

In [86]:
# Tuple Packing :-
    # t = a, b, c, d ===> pack 4 values into a single tuple

# Tuple Unpacking :-
    # a, b, c, d = t ===> unpack 4 values from a tuple t and assign to a, b, c, d

In [83]:
a = 10
b = 20
c = 30
d = 40

t = a, b, c, d
print(t)

(10, 20, 30, 40)

In [85]:
t = (10, 20, 30, 40)
a, b, c, d = t
print(a, b, c, d)

10 20 30 40

In [87]:
t = (10, 20, 30, 40)
a, b, c, d, e = t
print(a, b, c, d, e)

ValueError: not enough values to unpack (expected 5, got 4)

In [88]:
t = (10, 20, 30, 40)
a, b, c = t
print(a, b, c)

ValueError: too many values to unpack (expected 3)

In [89]:
# *c ---> a group of values(tuple)

# **c ---> a group of key-value pairs(dictionary)

In [92]:
t = (10, 20, 30, 40, 50, 60, 70)
a, b, *c = t

print(a)
print(b)
print(c)

10
20
[30, 40, 50, 60, 70]

In [93]:
# *args ---> variable mumber of arguments
# **kwargs ---> variable mumber of keyword arguments

In [94]:
l = [x * x for x in range(1, 6)]
print(type(l))
print(l)

<class 'list'>
[1, 4, 9, 16, 25]

In [95]:
t = (x * x for x in range(1, 6))
print(type(t))
print(t)

<class 'generator'>
<generator object <genexpr> at 0x000001CE735B45F0>

# # Difference b/w List and Tuple :-

In [101]:
# # List :-

    # List is
        # [10, 20, 30, 40]

    # 1. Mutable

    # 2. performance wise, memory wise list is not up to the mark

    # 3. comprehension concept --> list

    # 4. packing

    # 5. List object --> non hashable/ unhashable object
        # We cannot use as key in dictionary


# # Tuple :-

    # Tuple is
        # (10, 20, 30, 40)  or   10, 20, 30, 40

    # 1. Immutable

    # 2. performance wise, memory wise tuple is up to the mark

    # 3. comprehension concept --> not applicable

    # 4. packing and unpacking

    # 5. Tuple object --> hashable object
        # We can use as key in dictionary

In [102]:
d = {[10, 20, 30, 40]: "durga"}
print(d)

TypeError: unhashable type: 'list'

In [103]:
d = {(10, 20, 30, 40): "durga"}
print(d)

{(10, 20, 30, 40): 'durga'}

In [104]:
# WAP to take tuple numbers from keyboard and print ist sum and average?

In [107]:
t = eval(input("Enter Tuple Numbers:"))
print(t)

l = len(t)
sum = 0
for n in t:
    sum = sum + n

print("Sum:", sum)
print('Average:',sum/l)

(1321, 63156, 43654, 63465)
Sum: 171596
Average: 42899.0