In [1]:
# List
# Tuple

    # Order will be preserved
    # Duplicates are allowed

# # # Set Data Structure :-

In [3]:
# Order is not important
# Duplicates objects are not allowed i.e. we required to hold only unique objects.

In [4]:
# sms message.about duragasoftonline.com courses offer.
# 1 lakh mobile numbers
# duplicates are not allowed ---> we use set

In [7]:
# # Set Properties :-

    # Order is not Preserved.

    # indexing and slicing concepts are not applicable.

    # Duplicates Objects are not allowed.

    # heterogeneous objects are allowed.

    # mutable and growable

    # by using {} we can represent set of elements

    # mathematical operations like union, intersection, difference etc.

In [9]:
s = {10, "durag", 30}
s

{10, 30, 'durag'}

In [10]:
s = {10, "durag", 30, 10, 10, 20}
s

{10, 20, 30, 'durag'}

# # Creation of Set Objects :-

In [24]:
# 1. s = {10, 20, 30, 40}

# 2. s = set(any sequence)
    # s = set(list)
    # s = set(range)

# 3. By using eval()

In [12]:
s = {10, 20, 30, 40}
s

{10, 20, 30, 40}

In [15]:
s = {20, 40, 30, 10}
s

{10, 20, 30, 40}

In [16]:
l = [20, 10, 30, 10, 50, 10, 10, 40]
s = set(l)
print(s)

{40, 10, 50, 20, 30}

In [17]:
l = (20, 10, 30, 10, 50, 10, 10, 40)
s = set(l)
print(s)

{40, 10, 50, 20, 30}

In [18]:
s = set(range(10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
d = {100: "durga", 200: "ravi"}
s = set(d)
print(s)

{200, 100}

In [20]:
s = set('mississippi')
print(s)

{'s', 'i', 'p', 'm'}

In [23]:
s = eval(input('Any set of Elements:'))
print(s)
print(type(s))

{546, 3435, 46, 63463}
<class 'set'>

In [25]:
# # Empty set Objects :-

In [27]:
# s = {} ===> dict but not set

In [28]:
s = {}
type(s)

dict

In [29]:
s = set()
type(s)

set

# # Important Methods and Functions related to Set :-

In [33]:
# 1. s.add(x) ---> To add an element to the set

# 2. s.update(x, y, z)
    # To add multiple items to the set
    # x, y, z are not individual objects, must be sequences

In [34]:
s = set()
print(s)

s.add(70)
s.add(50)
s.add(90)
s.add('ram')
s.add(50)

print(s)

set()
{50, 90, 70, 'ram'}

In [35]:
s = set()
s.update(range(1, 6))
print(s)

{1, 2, 3, 4, 5}

In [36]:
s = set()
s.update(range(1, 6), range(6, 11), "durga", "solutions")
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'r', 'd', 'n', 'l', 's', 'u', 'g', 'a', 'i', 't', 'o'}

In [39]:
s = set()
s.update(10)
s

TypeError: 'int' object is not iterable

In [40]:
s = set()
s.update('10')
s

{'0', '1'}

# # add() vs update() :-

In [42]:
# add() ---> to add single item

# update() ---> to add multiple items from the given sequence

In [43]:
s = set('mississippi')
s

{'i', 'm', 'p', 's'}

In [44]:
s = set()
s.update(10,)
print(s)

TypeError: 'int' object is not iterable

In [45]:
s = set()
s.update((10,))
print(s)

{10}

In [48]:
s = set()
s

set()

In [49]:
s.add(10)
s

{10}

In [50]:
s.add(10, 20, 30)
s

TypeError: set.add() takes exactly one argument (3 given)

In [51]:
s.update(10)
s

TypeError: 'int' object is not iterable

In [52]:
s.update(range(1, 11), range(11, 20))
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [54]:
s.add(range(1, 10))
s

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 range(1, 10)}

In [55]:
# In set every element should be hashable.

In [56]:
# List is not hashable but tuple is hashable

In [57]:
s = set()
s.add([10, 20, 30])
s

TypeError: unhashable type: 'list'

In [58]:
s = set()
s.add((10, 20, 30))
s

{(10, 20, 30)}

In [59]:
s = set()
s.add(range(0, 9))
s

{range(0, 9)}

In [60]:
s = set()
s.update(range(0, 9))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
l = [10,20,30]
print(l)

l.append(40)
print(l)

l.insert(1, 50)
print(l)

[10, 20, 30]
[10, 20, 30, 40]
[10, 50, 20, 30, 40]

In [62]:
s.add(10)
# Internally PVM will store elements of set based on hashing.

# str is hashable type
# int is hashable type

# list is not hashable

In [63]:
s = set()
s.add(10)
s

{10}

In [64]:
s = set()
s.add(10.5)
s

{10.5}

In [65]:
s = set()
s.add("durga")
s

{'durga'}

In [66]:
s = set()
s.add([10, 20, 30])
s

TypeError: unhashable type: 'list'

In [67]:
s = set()
s.add((10, 20, 30))
s

{(10, 20, 30)}

In [68]:
# If our frequent operation is search then set is the best choice.

In [69]:
# s = set(list) ---> in this we won;t get any error because we are not adding list object directly, we are adding elements present in the list.

# s.update(list) ---> in this we won;t get any error because we are not adding list object directly, we are adding elements present in the list.

# s.add(list) ---> we are getting error becuase we are adding list object directly to the set.

In [70]:
s = set()
s.add([10, 20, 30]) # we are adding list object to the set
s

TypeError: unhashable type: 'list'

In [71]:
s = set()
s.update([10, 20, 30])  # we are adding elements present in the list to the set
s

{10, 20, 30}

In [72]:
s = set([10, 20, 30])
s

{10, 20, 30}

In [73]:
s = set()
s.update([10, 20, [30, 40]])
s

TypeError: unhashable type: 'list'

In [74]:
# 3. remove() elements :-

In [75]:
# s.pop() ---> it removes and returns some random element from the set

In [81]:
s = {10, 50, 40, 20, 5, 0, 5}
print(s)

print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())

{0, 50, 20, 5, 40, 10}
0
50
20
5
40

In [83]:
s = {10, 50, 40, 20, 5, 0, 5}
print(s)

print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())

{0, 50, 20, 5, 40, 10}
0
50
20
5
40
10

KeyError: 'pop from an empty set'

In [84]:
s = {10, 50, 40, 20, 5, 0, 5}
print(s)

print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
if len(s) != 0:
    print(s.pop())

{0, 50, 20, 5, 40, 10}
0
50
20
5
40
10

In [87]:
s = {10, 20, 30, 10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50}

while len(s) != 0:
    n = s.pop()
    print("Sending SMS to Mobile Number:", n)

Sending SMS to Mobile Number: 70
Sending SMS to Mobile Number: 40
Sending SMS to Mobile Number: 10
Sending SMS to Mobile Number: 80
Sending SMS to Mobile Number: 50
Sending SMS to Mobile Number: 20
Sending SMS to Mobile Number: 60
Sending SMS to Mobile Number: 30

In [93]:
# 4. remove(x) :-
    # It removes the specified element
    # If the specified element is not available then we will get KeyError

In [90]:
s = {10, 20, 30}
s.remove(20)
print(s)

{10, 30}

In [91]:
s = {10, 20, 30}
s.remove(40)
print(s)

KeyError: 40

In [92]:
s = {10, 20, 30}
if 40 in s:
    s.remove(40)
print(s)

{10, 20, 30}

In [94]:
# 5. s.discard(x) :-
    # It removes the specified element
    # If the specified element is not available then we won't get any Error.

In [95]:
s = {10, 20, 30}
s.discard(40)
print(s)

{10, 20, 30}

In [96]:
s = {10, 20, 30}

s.discard(40)
s.discard(20)
s.discard(90)
s.discard(70)
s.discard(30)

print(s)

{10}

In [98]:
# remove(x) and discard(x) and pop() :-

In [99]:
# 6. s.clear() :-
    # To remove all elements from the set

In [100]:
s = {10, 20, 50, 560, 54, 40, 30}
print(s)

s.clear()
print(s)

{560, 50, 20, 54, 40, 10, 30}
set()

In [101]:
# s1 = s ===> aliasing	    duplicate reference variable creation

# s1 = s.copy() ===> cloning    duplicate set object creation

In [102]:
s = {10, 20, 30}
s1 = s

print(id(s))
print(id(s1))

2551548162144
2551548162144

In [103]:
s = {10, 20, 30}
s1 = s.copy()

print(id(s))
print(id(s1))

2551548164160
2551548159456