# # Mathematical Operations on the Set :-

In [7]:
# 1. union()    ---> A | B
# 2. intersection() ---> A & B
# 3. difference()   ---> A - B
# 4. symmetric_difference() ---> A ^ B

In [2]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6}

In [3]:
s3 = s1 + s2
print(s3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [4]:
s3 = s1 * s2
print(s3)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [8]:
# 1. union() :-
    # x.union(y) ===> It returns all elements present in both x and y
    # x | y

In [15]:
x = {10, 20, 30, 40}
y = {30, 40, 50, 60}

print(x.union(y))
print(x | y)

print(y.union(x))
print(y | x)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [16]:
# 2. intersection() :-
    # common elements
    # x.intersection(y)
    # x & y

In [17]:
x = {10, 20, 30, 40}
y = {30, 40, 50, 60}

print(x.intersection(y))
print(x & y)

print(y.intersection(x))
print(y & x)

{40, 30}
{40, 30}
{40, 30}
{40, 30}

In [18]:
# 3. difference() :-
    # x.difference(y)
    # x - y

    # The elements present in x but not in y

In [21]:
x = {10, 20, 30, 40}
y = {30, 40, 50, 60}

print(x.difference(y))
print(x - y)

print(y.difference(x))
print(y - x)

{10, 20}
{10, 20}
{50, 60}
{50, 60}

In [24]:
# 3. symmetric_difference() :-
    # x.symmetric_difference(y)
    # x ^ y

    # The elements present in either x or y butu not in both

In [23]:
x = {10, 20, 30, 40}
y = {30, 40, 50, 60}

print(x.symmetric_difference(y))
print(x ^ y)

print(y.symmetric_difference(x))
print(y ^ x)

{10, 50, 20, 60}
{10, 50, 20, 60}
{10, 50, 20, 60}
{10, 50, 20, 60}

# # Membership Operator :-

In [26]:
# in, not in

In [28]:
x = {10, 20, 30, 40}
print(x)

{40, 10, 20, 30}

In [29]:
print(10 in x)

True

In [30]:
print(50 in x)

False

In [31]:
print(50 not in x)

True

# # Comprehension :-

In [3]:
# list ---> applicable
# tuple ---> not applicable
# set ---> applicable

In [4]:
s = {x * x for x in range(1, 6)}
print(type(s))
print(s)

<class 'set'>
{1, 4, 9, 16, 25}

In [5]:
s = {2**x for x in range(1, 6)}
print(type(s))
print(s)

<class 'set'>
{32, 2, 4, 8, 16}

In [1]:
s1 = {10, 20, 30}
s2 = {20, 30, 10}

print(s1 is s2)
print(s1 == s2)

False
True

In [7]:
s1 = {10, 20, 30}
s2 = {10, 20, 30}

print(s1 is s2)
print(s1 == s2)

print(id(s1))
print(id(s2))

False
True
2947873356064
2947873352704

In [13]:
s1 = {10, 20, 30}
s2 = s1

print(s1 is s2)
print(s1 == s2)

print(id(s1))
print(id(s2))

True
True
2947873356064
2947873356064

In [9]:
s1 = {10, 20, 30}
s2 = s1.copy()

print(s1 is s2)
print(s1 == s2)

print(id(s1))
print(id(s2))

False
True
2947873357408
2947873352704

In [10]:
s1 = [10, 20, 30]
s2 = [10, 20, 30]

print(s1 is s2)
print(s1 == s2)

print(id(s1))
print(id(s2))

False
True
2947873771776
2947873774592

In [12]:
s1 = (10, 20, 30)
s2 = (10, 20, 30)

print(s1 is s2)
print(s1 == s2)

print(id(s1))
print(id(s2))

False
True
2947873830336
2947873799232

In [14]:
# For set order is not important
# indexing and slicing concepts are not applicable

In [15]:
s = {10, 20, 30}
print(s)

{10, 20, 30}

In [16]:
s[0]

TypeError: 'set' object is not subscriptable

In [17]:
s = [10, 20, 30]
print(id(s))

s = [20, 30, 10]
print(id(s))

2947873665088
2947879642112

In [19]:
# WAP to delete duplicates present in the list?

In [22]:
l = eval(input("Enter a list of values:"))
print(l)

s = set(l)
print(s)

[4646, 64, 546, 46, 464, 46]
{64, 546, 4646, 46, 464}

In [23]:
l = eval(input("Enter a list of values:"))
print(l)

l1 = []
for x in l:
    if x not in l1:
        l1.append(x)

print(l1)

[46, 22, 21, 12, 12, 45, 45, 65, 65, 85, 95, 85, 95]
[46, 22, 21, 12, 45, 65, 85, 95]