In [1]:
d = {100: "pavan", 200: "shiva", 300: "ravi"}
print(d)
print(d[200])

{100: 'pavan', 200: 'shiva', 300: 'ravi'}
shiva

In [2]:
# Quest: WAP to enter name and marks in a dictionary and display information on the screen?

In [4]:
d = {}
while True:
    name = input("Enter Student Name:")
    marks = input("Enter Student Marks:")
    d[name] = marks
    print("Student record inserted Successfully")

    option = input("Do you want to insert one more student marks[Y|N]:")
    if option.lower() == "n":
        break
    elif option.lower() == 'y':
        continue
    else:
        print('Invalid Input to Continue')
        break

print(d)

Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
Invalid Input to Continue
{'asdadf': '54', 'amsdka': '95', 'safas': '12', 'dsafads': '56'}

In [1]:
d = {}
while True:
    name = input("Enter Student Name:")
    marks = input("Enter Student Marks:")
    d[name] = marks
    print("Student record inserted Successfully")

    option = input("Do you want to insert one more student marks[Y|N]:")
    while True:
        if option.lower() == "n":
            option = "n"
            break
        elif option.lower() == "y":
            option = "y"
            break
        else:
            option = input("Your Entered option is Invalid, Please Choose Correct option [Y|N]:")
    if option == "n":
        break

print(d)

Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
{'ram': '95', 'han': '85', 'nksdnf': "52'", 'dsaf': '5654'}

In [2]:
d = {}
while True:
    name = input("Enter Student Name:")
    marks = input("Enter Student Marks:")
    d[name] = marks
    print("Student record inserted Successfully")

    option = input("Do you want to insert one more student marks[Y|N]:")
    while True:
        if option.lower() in ["y", "n"]:
            break
        else:
            option = input(
                "Your Entered option is Invalid, Please Choose Correct option [Y|N]:"
            )
    if option == "n":
        break

print(d)

Student record inserted Successfully
Student record inserted Successfully
{'ad': '54', 'asd': '5'}

In [8]:
d = {}
while True:
    name = input("Enter Student Name:")
    marks = input("Enter Student Marks:")
    d[name] = marks
    print("Student record inserted Successfully")

    option = input("Do you want to insert one more student marks[Y|N]:")
    while True:
        if option.lower() not in ["y", "n"]:
            option = input(
                "Your Entered option is Invalid, Please Choose Correct option [Y|N]:"
            )
        else:
            break
    if option == "n":
        break

print(d)
for x in d:
    print("{}\t{}".format(x, d[x]))

Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
{'ram': '52', 'shyam': '95', 'barry': '96'}
ram	52
shyam	95
barry	96

In [7]:
d = {}
while len(d) < 5:
    name = input("Enter Student Name:")
    marks = input("Enter Student Marks:")
    d[name] = marks
    print("Student record inserted Successfully")

print(d)
for x in d:
    print("{}\t{}".format(x, d[x]))

Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
Student record inserted Successfully
{'ram': '10', 'shyam': '30', 'ravi': '65', 'harry': '94', 'barry': '82'}
ram	10
shyam	30
ravi	65
harry	94
barry	82

# # Update Dictionary :-

In [10]:
# d = {}

# d[key] = value
    # If the specified key is not already available, then key-value will be added.

    # If the specified key is already available, then olde value will be replaced with new value.

In [11]:
d = {100: "durga", 200: "ravi", 300: "shiva"}
print(d)

d[400] = "pavan"
print(d)

d[200] = "harry"
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}
{100: 'durga', 200: 'ravi', 300: 'shiva', 400: 'pavan'}
{100: 'durga', 200: 'harry', 300: 'shiva', 400: 'pavan'}

# # Delete Elements from Dictionary :-

In [15]:
# del d[key]
    # If the specified key is available, then total entry will be deleted.

    # If the specified key is not available, then we will get KeyError.

In [13]:
d = {100: "durga", 200: "ravi", 300: "shiva"}
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

In [14]:
del d[100]
print(d)

{200: 'ravi', 300: 'shiva'}

In [16]:
del d[400]
print(d)

KeyError: 400

In [17]:
if 400 in d:
    del d[400]
print(d)

{200: 'ravi', 300: 'shiva'}

In [19]:
# To remove all the entries :-

    # d.clear()

    # del d

In [20]:
d = {100: "durga", 200: "ravi", 300: "shiva"}
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

In [21]:
d.clear()
print(d)

{}

In [24]:
d = {100: "durga", 200: "ravi", 300: "shiva"}
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

In [25]:
del d
print(d)

NameError: name 'd' is not defined

# # Important Methods and Functions related to Dictionary :-

In [27]:
# 1. dict() :-

In [29]:
d = dict()
print(d)
print(type(d))

{}
<class 'dict'>

In [30]:
d = dict({100: "ram", 200: "durga"})
print(d)
print(type(d))

{100: 'ram', 200: 'durga'}
<class 'dict'>

In [31]:
# [(100, 'durga'), (200, 'shiva'), (300, 'ravi')]   ---> List of Tuples

In [32]:
d = dict([(100, "durga"), (200, "shiva"), (300, "ravi")])
print(d)
print(type(d))

{100: 'durga', 200: 'shiva', 300: 'ravi'}
<class 'dict'>

In [33]:
d = dict(((100, "durga"), (200, "shiva"), (300, "ravi")))
print(d)
print(type(d))

{100: 'durga', 200: 'shiva', 300: 'ravi'}
<class 'dict'>

In [34]:
d = dict([[100, "durga"], [200, "shiva"], [300, "ravi"]])
print(d)
print(type(d))

{100: 'durga', 200: 'shiva', 300: 'ravi'}
<class 'dict'>

In [35]:
d = dict({[100, "durga"], [200, "shiva"], [300, "ravi"]})
print(d)
print(type(d))

TypeError: unhashable type: 'list'

In [36]:
d = dict({(100, "durga"), (200, "shiva"), (300, "ravi")})
print(d)
print(type(d))

{300: 'ravi', 100: 'durga', 200: 'shiva'}
<class 'dict'>

In [39]:
# 2. len() :-
    # returns the number of items in the dictionary
        # item ---> key-value pair

In [40]:
d = dict({(100, "durga"), (200, "shiva"), (300, "ravi")})
print(d)
print(len(d))

{300: 'ravi', 100: 'durga', 200: 'shiva'}
3

In [47]:
# 3. get(key) :-

    # returns the corresponding value.
    # If specified key not available then None

# d[key]    ---> KeyError

# d.get(key)    ---> None
# d.get(key, default_value)

In [50]:
d = {100: "durga", 200: "ravi", 300: "shiva"}
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

In [44]:
print(d.get(100))

durga

In [45]:
print(d.get(200))

ravi

In [46]:
print(d.get(900))

None

In [48]:
print(d.get(900, 'no value'))

no value