In [1]:
l = [0, 5, 10, 15, 20, 25]

# list out all odd numberws from the list

output = list(filter(lambda n: n % 2 != 0, l))
print(output)

[5, 15, 25]

In [2]:
# list out all numbers which are divisible by 3

output = list(filter(lambda n: n % 3 == 0, l))
print(output)

[0, 15]

In [3]:
# list = [0, 5, 10, 15, 20, 25]

# # list out all odd numberws from the list

# output = list(filter(lambda n: n % 2 != 0, list))
# print(output)

# # TypeError                                 Traceback (most recent call last)
# # Cell In[3], line 5
# #       1 list = [0, 5, 10, 15, 20, 25]
# #       3 # list out all odd numberws from the list
# # ----> 5 output = list(filter(lambda n: n % 2 != 0, list))
# #       6 print(output)

# # TypeError: 'list' object is not callable

In [5]:
list1 = [0, 5, 10, 15, 20, 25]

# list out all odd numberws from the list

output = list(filter(lambda n: n % 2 != 0, list1))
print(output)

[5, 15, 25]

In [7]:
# create a new list with double of values present in list1

output = list(map(lambda n: 2 * n, list1))
print(output)

[0, 10, 20, 30, 40, 50]

In [9]:
# create a new list with numbers which are divisible by 3

output = list(map(lambda n: n % 3 == 0, list1))
print(output)

[True, False, False, True, False, False]

In [10]:
# input : 10 values

# output :
#     filter()    ---> 10 or less
#     map()       ---> 10

In [11]:
# map(function, list)

# We can use map function on multiple list also

In [12]:
l1 = [1, 2, 3, 4]
l2 = [10, 20, 30, 40]

# Generate output by multiplying values from both lists

output = list(map(lambda x, y: x * y, l1, l2))
print(output)

[10, 40, 90, 160]

In [13]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50, 60, 70]

# Generate output by multiplying values from both lists

output = list(map(lambda x, y: x * y, l1, l2))
print(output)

[10, 40, 90, 160, 250]

# # 3. reduce() Function :-

In [16]:
# reduce(function, sequence)

In [15]:
# input : 10 values

# output :
#     filter()    ---> 10 or less
#     map()       ---> 10
#     reduce()    ---> 1

In [18]:
l = [10, 20, 30, 40, 50]

result = reduce(lambda x, y: x + y, l)

NameError: name 'reduce' is not defined

In [19]:
from functools import *

In [21]:
l = [10, 20, 30, 40, 50]

result = reduce(lambda x, y: x + y, l)
print(result)

150

In [24]:
# print the sum of numbers from 1 to 100

result = reduce(lambda x, y: x + y, range(1, 101))
print(result)

5050

In [25]:
result = reduce(lambda x, y: x * y, range(1, 4))
print(result)

6

In [26]:
def multiply(x, y):
    return x * y


result = reduce(multiply, range(1, 4))
print(result)

6

In [27]:
# In the above example we have not pass the parameter to multiply then how it is working?

# We are not calling multiple fucntion. reduce() function is calling internally.