In [20]:
from random import *

alphabets = "abcdefghijklmnopqrstuvwxyz"
digits = "0123456789"
cities = ["Hyderabad", "Chennai", "Banglore", "Pune", "Delhi", "Mumbai"]
designations = [
    "Software Engineer",
    "Senior Software Engineer",
    "Team Lead",
    "Project Manager",
    "Project Lead",
]


def get_fake_name():
    name = choice(alphabets).upper()
    n = randint(2, 6)
    for i in range(n):
        name = name + choice(alphabets)
    return name


def get_fake_eno():
    eno = "e-"
    for i in range(4):
        eno = eno + str(randint(0, 9))
    return eno


def get_fake_salary():
    esal = uniform(10000, 50000)
    return esal


def get_fake_city():
    city = choice(cities)
    return city


def get_fake_mno():
    mno = choice("6789")
    for i in range(9):
        mno = mno + choice(digits)
    return mno


def get_fake_designation():
    designation = choice(designations)
    return designation


def get_fake_emp_data():
    print("Employee Name :", get_fake_name())
    print("Employee Number :", get_fake_eno())
    print("Employee Salary : {:.2f}".format(get_fake_salary()))
    print("Employee City :", get_fake_city())
    print("Employee Mobile Number :", get_fake_mno())
    print("Employee Designation :", get_fake_designation())


get_fake_emp_data()

Employee Name : Wefp
Employee Number : e-0714
Employee Salary : 26959.20
Employee City : Mumbai
Employee Mobile Number : 7147705020
Employee Designation : Project Lead

In [22]:
for i in range(3):
    get_fake_emp_data()

Employee Name : Blysth
Employee Number : e-8084
Employee Salary : 18230.72
Employee City : Banglore
Employee Mobile Number : 7672497334
Employee Designation : Project Lead
Employee Name : Cdxvdsr
Employee Number : e-8162
Employee Salary : 10383.68
Employee City : Pune
Employee Mobile Number : 8985711489
Employee Designation : Project Lead
Employee Name : Axaz
Employee Number : e-1870
Employee Salary : 16295.46
Employee City : Delhi
Employee Mobile Number : 6993463914
Employee Designation : Team Lead