# # # Rules to Define Identifiers in Python :-

In [1]:
# 1. Allowed Characters in Python :-
    # a to z
    # A to Z
    # 0 to 9
    # _(Underscore)

In [3]:
cash = 10

In [4]:
cas$h = 10

SyntaxError: invalid syntax (2230994455.py, line 1)

In [5]:
cash_amount = 10

# 2. Identifier should not start with digit

In [2]:
total123 = 100

In [8]:
123total = 100

SyntaxError: invalid decimal literal (664306135.py, line 1)

# 3. Python identifiers are case sensitive

In [3]:
total = 10

In [4]:
Total = 20

In [5]:
TOTAL = 30

# 4. no length limit, but not recommended to take lengthy identifiers

# 5. we cannot use keyword or reserved characters as identifiers

In [28]:
x = 10

In [29]:
if = 20

SyntaxError: invalid syntax (2644998005.py, line 1)

# # Note :- 
    # x --> normal variable or public variable
    # _x --> protected variable
    # __x --> private variable
    
    # __x__ --> magical word
    # ex. __name__, __add__, __doc__, __sub__

In [37]:
__x = 10
type(__x)

int

# # # Reserved Words :-

# Some words are reserved to represent some functionality or meaning

# We have only 35 reserved words in Python

In [39]:
# True, False, None ===> Values.Reserved Literals

# and, or, not, is

# if, elif, else

# while, for, break, continue, return, in, yield

# try, except, finally, raise, assert

# import, from, as, class, def, pass, global, nonlocal, lambda, del, with

In [40]:
# # In Python 3.5 version new keyword introduced in Python :-

# async, await

# For asynchronous processing

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
# 1. All reserved words contain only alphabet symbols

# 2. The only reserved words contain upper case aplhabet symbol
#       True, False, None

# 3. Switch statement is not applicable in Python

# 4. do-while loop is not there

# 5. no keywords like int, float, boolean etc

In [ ]:
# # # Data Types :-

In [1]:
# Data Type Represent the type of data represented by a variable

In [3]:
x = 10
x = True
x = 10.5
# Dynamically Typed: Python, JavaScript, ShellScripting etc

In [4]:
# int x = 10;
# boolean b = true;
# Statically Typed: Java, C, C++

In [5]:
# # Types of Data Types :-
    # int
    # float
    # complex
    # bool
    # str
    
    # list
    # tuple
    # set
    # frozenset
    # dict
    
    # bytes
    # bytearray
    # range
    # None

In [6]:
# # The 3 most commonly used in python's in built functions :-

# In Linux everything is treated as a File
# In Python everything is treated as Object

# x = 10
# 1. print(x)
# 2. type(x)
# 3. id(x) -->Address of Object

In [7]:
x = 10

In [8]:
print(x)

10

In [12]:
type(x)

int

In [13]:
id(x)

140731415577672

In [14]:
x = [10, 20, 30, 40, 50, 60, 70, 80]

print(x)
print(type(x))
print(id(x))

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>
2362951932544

In [15]:
# # # int Data Type :-

In [19]:
# To represent integral values

x = 10
print(type(x))

<class 'int'>

In [20]:
# # In Java we have :-

    # byte: -128 to +127
    # short: -32768 to 32767
    # int: -2147483648 to 2147483647
    # long: -2^63 to 2^63-1

In [21]:
x = 12134154687464634163746743216546874316574687431324865746431349874674321658746

In [22]:
# We have only 2 data types :-
    # int
    # long

In [23]:
# # Note :- In Python 2 we have int and long data type but in Python 3 we have only int data type

In [24]:
# # We can represent int values in multiple ways :-

    # 1. Decimal Form(base-10)
    # 2. Binary Form(base-2)
    # 3. Octal Form(base-8)
    # 4. Hexa Decimal Form(base-16)

In [28]:
# # 1. Decimal Form(base-10) :-

# The allowed digits are 0 to 9

# Example:
    # x = 12345

In [32]:
# # 2. Binary Form(base-2) :-

# The allowed digits are 0 to 1
# The number should be prefixed with 0b or 0B

# Example:
    # a = 0B1111
    # a = 0b1111

In [34]:
a = 1111
b = 0b1111

print(a)
print(b)

print(type(a))
print(type(b))

1111
15
<class 'int'>
<class 'int'>

In [35]:
# Convert Binary to Integer :-

    # ( 1    1    1    1 ) = (?)
    #  2^3  2^2  2^1  2^0

    # 1*2^3 + 1*2^2 + 1*2^1 + 1*2^0
    # 1*8 + 1*4 + 1*2 + 1*1
    # 8 + 4 + 2 + 1
    # => 15

In [36]:
# # 3. Octal Form(base-8) :-

# The allowed digits are 0 to 7
# The number should be prefixed with 0o or 0O

# Example:
    # a = 0O0123
    # a = 0o0123

In [38]:
a = 0o0123
b = 0O0123

print(a)
print(b)

print(type(a))
print(type(b))

83
83
<class 'int'>
<class 'int'>

In [39]:
# Convert Octal to Integer :-

    # ( 0    1    2    3 ) = (?)
    #  8^3  8^2  8^1  8^0

    # 0*8^3 + 1*8^2 + 2*8^1 + 3*8^0
    # 0*512 + 1*64 + 2*8 + 3*1
    # 0 + 64 + 16 + 3
    # => 83

In [41]:
a = 0o123
b = 0b11

print(a)
print(b)

print(a + b)

83
3
86

In [42]:
# # 4. Hexa Decimal Form(base-16) :-

# The allowed digits are:
# 0 to 9, A to F

# A-->10
# B-->11
# C-->12
# D-->13
# E-->14
# F-->15

# A - F or a - f

# The number should be prefixed with 0x or 0X

# Example:
    # a = 0x0123Face
    # a = 0X0123Face

In [43]:
a = 0x0123Face
b = 0X0123Face

print(a)
print(b)

print(type(a))
print(type(b))

19135182
19135182
<class 'int'>
<class 'int'>

In [44]:
# Base-2 0 to 1
# Base-8 0 to 7
# Base-10 0 to 9
# Base-16 0 to 15

In [53]:
a = 0X012
print(a)

18

In [54]:
# Convert Hexa Decimal to Integer :-

    # (  0     1     2 ) = (?)
    #  16^2  16^1  16^0

    # 0*16^2 + 1*16^1 + 2*16*0
    # 0*256 + 1*16 + 2*1
    # 0 + 16 + 2
    # => 18

In [55]:
# # Base Conversion Functions :-

    # 1. bin()
    # 2. oct()
    # 3. hex()

In [ ]:
# bin(x)--> Provides Equivalent Binary Value

# x can be any value like ocatl or decimal or hexa decimal number

In [56]:
a = 10
print(a)

b = bin(a)
print(b)

10
0b1010

In [58]:
print(bin(10))
print(bin(0o10))
print(bin(0x10))

0b1010
0b1000
0b10000

In [59]:
print(oct(10))

0o12

In [60]:
print(hex(10))

0xa

In [1]:
# # # Float Data Type :-

In [4]:
# Number with decimal point

f = 1.023

In [5]:
f = 0b1.1101

SyntaxError: invalid syntax (1303742753.py, line 1)

In [6]:
f = 0o1.1101

SyntaxError: invalid syntax (80143744.py, line 1)

In [7]:
f = 0x1.1101

SyntaxError: invalid syntax (3300714294.py, line 1)

In [8]:
# Float values we should specify only in decimal format

In [11]:
# Exponential form or Scientific notation
f = 1.2e3
print(f)

1200.0

In [12]:
f = 1.2E3
print(f)

1200.0

In [14]:
# We can represent big values in less memory

a = 120000000000000000000000000000000000000
print(a)

b = 12e16
print(b)

120000000000000000000000000000000000000
1.2e+17

In [15]:
# Conditions for Float Data Type :-

# 1. with decimal point
# 2. only in decimal
# 3. exponential form

In [16]:
# # # Complex Data Type :-

In [33]:
# In C, C++, Java-->complex data type not available

# Format :-
    # a+bj

    # a is real number
    # b is imaginary part
    # j is fixed variable

# For a we can use any base
# For b we should use only decimal form

In [19]:
c = 10 + 20j
print(c)

(10+20j)

In [20]:
c = -10 -25j
print(c)

(-10-25j)

In [21]:
# For a, b we can use both int, float values

In [23]:
c = 10.5 + 20.6j
print(c)

(10.5+20.6j)

In [24]:
c = 0B1111 + 20j
print(c)

(15+20j)

In [25]:
c = 0B1111 + 0b0111j

SyntaxError: invalid binary literal (2151220821.py, line 1)

In [27]:
a = 10 + 20j
b = 20 + 30j

print(a+b)
print(a-b)
print(a/b)
print(a*b)

(30+50j)
(-10-10j)
(0.6153846153846154+0.0769230769230769j)
(-400+700j)

In [36]:
c = 10*20j      # 10*(0+20j)
print(c)

200j

In [32]:
a = 10 + 20.5j

print(a.real)
print(a.imag)

10.0
20.5

In [34]:
a = True + 20.5j
print(a)

(1+20.5j)

In [37]:
# # # Boolean Data Type :-

In [39]:
# boolean values / logical values

# Example:
    # True --> 1
    # False --> 0

In [41]:
a = True
print(a)

b = False
print(b)

True
False

In [42]:
#  Comparison Operation:
age = 30
if age > 25:
    print('AGE is greater than 25')

AGE is greater than 25

In [45]:
True + True

2

In [46]:
True + False

1

In [47]:
True * False

0

In [48]:
True + Truej

NameError: name 'Truej' is not defined

In [49]:
True + 20j

(1+20j)

In [50]:
# # # Str Data Type :-

In [52]:
# str --> string

# Any sequence of character within either single quotes or double quotes

In [61]:
s = 'Pulkit'
print(s)

Pulkit

In [62]:
s = "Pulkit"
print(s)

Pulkit

In [63]:
s = Pulkit

NameError: name 'Pulkit' is not defined

In [64]:
s = 'Pulkit"

SyntaxError: unterminated string literal (detected at line 1) (3782214682.py, line 1)

In [65]:
s = '''Pulkit
    Chahal
    Python
    Practice'''

print(s)

Pulkit
    Chahal
    Python
    Practice

In [66]:
# Multi line String Literals :-

# triple quotes
# triple single quotes
# triple double quotes

In [67]:
s = """Pulkit
    Chahal
    Python
    Practice"""

print(s)

Pulkit
    Chahal
    Python
    Practice

In [69]:
s = "Python classes by 'Durga Sir' are average"
print(s)

Python classes by 'Durga Sir' are average

In [70]:
s = 'Python classes by "Durga Sir" are average'
print(s)

Python classes by "Durga Sir" are average

In [71]:
s = 'Python 'classes' by "Durga Sir" are average'

SyntaxError: invalid syntax (3584787214.py, line 1)

In [72]:
s = '''Python 'classes' by "Durga Sir" are average'''
print(s)

Python 'classes' by "Durga Sir" are average

In [77]:
s1 = '''Pulkit'''
s2 = 'Pulkit'
s3 = "Pulkit"

In [78]:
s1

'Pulkit'

In [79]:
s2

'Pulkit'

In [80]:
s3

'Pulkit'

In [81]:
s = 'Python \'classes\' by "Durga Sir" are average'
print(s)

Python 'classes' by "Durga Sir" are average

In [82]:
s = "Python \'classes\' by \"Durga Sir\" are average"
print(s)

Python 'classes' by "Durga Sir" are average

In [84]:
# We use strings:-

# 1. To define multiline string literals
# 2. To use single quote or double quote as normal character

In [85]:
s = 'durga'

In [86]:
s[0]

'd'

In [87]:
s[1]

'u'

In [88]:
s[2]

'r'

In [90]:
s[10]

IndexError: string index out of range

In [91]:
#  +ve index always from left to right
#  -ve index always from right to left

In [92]:
s[-1]

'a'

In [93]:
s[-2]

'g'

In [94]:
s[-3]

'r'

In [98]:
s[-6]

IndexError: string index out of range

In [99]:
s[len(s)-1]

'a'

In [1]:
# # # Float Data Type :-

In [4]:
# Number with decimal point

f = 1.023

In [5]:
f = 0b1.1101

SyntaxError: invalid syntax (1303742753.py, line 1)

In [6]:
f = 0o1.1101

SyntaxError: invalid syntax (80143744.py, line 1)

In [7]:
f = 0x1.1101

SyntaxError: invalid syntax (3300714294.py, line 1)

In [8]:
# Float values we should specify only in decimal format

In [11]:
# Exponential form or Scientific notation
f = 1.2e3
print(f)

1200.0

In [12]:
f = 1.2E3
print(f)

1200.0

In [14]:
# We can represent big values in less memory

a = 120000000000000000000000000000000000000
print(a)

b = 12e16
print(b)

120000000000000000000000000000000000000
1.2e+17

In [15]:
# Conditions for Float Data Type :-

# 1. with decimal point
# 2. only in decimal
# 3. exponential form

In [16]:
# # # Complex Data Type :-

In [33]:
# In C, C++, Java-->complex data type not available

# Format :-
    # a+bj

    # a is real number
    # b is imaginary part
    # j is fixed variable

# For a we can use any base
# For b we should use only decimal form

In [19]:
c = 10 + 20j
print(c)

(10+20j)

In [20]:
c = -10 -25j
print(c)

(-10-25j)

In [21]:
# For a, b we can use both int, float values

In [23]:
c = 10.5 + 20.6j
print(c)

(10.5+20.6j)

In [24]:
c = 0B1111 + 20j
print(c)

(15+20j)

In [25]:
c = 0B1111 + 0b0111j

SyntaxError: invalid binary literal (2151220821.py, line 1)

In [27]:
a = 10 + 20j
b = 20 + 30j

print(a+b)
print(a-b)
print(a/b)
print(a*b)

(30+50j)
(-10-10j)
(0.6153846153846154+0.0769230769230769j)
(-400+700j)

In [36]:
c = 10*20j      # 10*(0+20j)
print(c)

200j

In [32]:
a = 10 + 20.5j

print(a.real)
print(a.imag)

10.0
20.5

In [34]:
a = True + 20.5j
print(a)

(1+20.5j)

In [37]:
# # # Boolean Data Type :-

In [39]:
# boolean values / logical values

# Example:
    # True --> 1
    # False --> 0

In [41]:
a = True
print(a)

b = False
print(b)

True
False

In [42]:
#  Comparison Operation:
age = 30
if age > 25:
    print('AGE is greater than 25')

AGE is greater than 25

In [45]:
True + True

2

In [46]:
True + False

1

In [47]:
True * False

0

In [48]:
True + Truej

NameError: name 'Truej' is not defined

In [49]:
True + 20j

(1+20j)

In [50]:
# # # Str Data Type :-

In [52]:
# str --> string

# Any sequence of character within either single quotes or double quotes

In [61]:
s = 'Pulkit'
print(s)

Pulkit

In [62]:
s = "Pulkit"
print(s)

Pulkit

In [63]:
s = Pulkit

NameError: name 'Pulkit' is not defined

In [64]:
s = 'Pulkit"

SyntaxError: unterminated string literal (detected at line 1) (3782214682.py, line 1)

In [65]:
s = '''Pulkit
    Chahal
    Python
    Practice'''

print(s)

Pulkit
    Chahal
    Python
    Practice

In [66]:
# Multi line String Literals :-

# triple quotes
# triple single quotes
# triple double quotes

In [67]:
s = """Pulkit
    Chahal
    Python
    Practice"""

print(s)

Pulkit
    Chahal
    Python
    Practice

In [69]:
s = "Python classes by 'Durga Sir' are average"
print(s)

Python classes by 'Durga Sir' are average

In [70]:
s = 'Python classes by "Durga Sir" are average'
print(s)

Python classes by "Durga Sir" are average

In [71]:
s = 'Python 'classes' by "Durga Sir" are average'

SyntaxError: invalid syntax (3584787214.py, line 1)

In [72]:
s = '''Python 'classes' by "Durga Sir" are average'''
print(s)

Python 'classes' by "Durga Sir" are average

In [77]:
s1 = '''Pulkit'''
s2 = 'Pulkit'
s3 = "Pulkit"

In [78]:
s1

'Pulkit'

In [79]:
s2

'Pulkit'

In [80]:
s3

'Pulkit'

In [81]:
s = 'Python \'classes\' by "Durga Sir" are average'
print(s)

Python 'classes' by "Durga Sir" are average

In [82]:
s = "Python \'classes\' by \"Durga Sir\" are average"
print(s)

Python 'classes' by "Durga Sir" are average

In [84]:
# We use strings:-

# 1. To define multiline string literals
# 2. To use single quote or double quote as normal character

In [85]:
s = 'durga'

In [86]:
s[0]

'd'

In [87]:
s[1]

'u'

In [88]:
s[2]

'r'

In [90]:
s[10]

IndexError: string index out of range

In [91]:
#  +ve index always from left to right
#  -ve index always from right to left

In [92]:
s[-1]

'a'

In [93]:
s[-2]

'g'

In [94]:
s[-3]

'r'

In [98]:
s[-6]

IndexError: string index out of range

In [99]:
s[len(s)-1]

'a'