# # Right Half Diamond Pattern :-

In [6]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('* '*(i+1))

for i in range(n-1):
    print('* '*(n-1-i))

*
* *
* * *
* * * *
* * *
* *
*

In [17]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print((str(i+1)+ ' ')*(i+1))

for i in range(n-1):
    print((str(n-1-i)+ ' ')*(n-i-1))

1
2 2
3 3 3
4 4 4 4
3 3 3
2 2
1

In [24]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print((chr(65+i) + ' ')*(i+1))

for i in range(n-1):
    print((chr(63 + n - i) + ' ')*(n-1-i))

A
B B
C C C
D D D D
E E E E E
D D D D
C C C
B B
A

In [29]:
n = int(input('Enter number of rows:'))

for i in range(n):
    for j in range(i+1):
        print((j+1), end=' ')
    print()

for i in range(n-1):
    for j in range(n-1-i):
        print(j+1, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [30]:
n = int(input('Enter number of rows:'))

for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end= ' ')
    print()

for i in range(n-1):
    for j in range(n-1-i):
        print(chr(65+j), end=' ')
    print()

A
A B
A B C
A B C D
A B C
A B
A

In [32]:
n = int(input('Enter number of rows:'))

for i in range(n):
    for j in range(i+1):
        print(n-j, end=' ')
    print()

for i in range(n-1):
    for j in range(n-1-i):
        print(n-j, end=' ')
    print()

4
4 3
4 3 2
4 3 2 1
4 3 2
4 3
4

In [37]:
n = int(input('Enter number of rows:'))

for i in range(n):
    for j in range(i+1):
        print(chr(64+n-j), end=' ')
    print()

for i in range(n-1):
    for j in range(n-1-i):
        print(chr(64+n-j), end=' ')
    print()

D
D C
D C B
D C B A
D C B
D C
D

In [49]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-i-1) + '* '*(i+1))

for i in range(n-1):
    print('  '*(i+1)+ '* '*(n-i-1))

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [53]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-i-1) + (str(i+1)+ ' ')*(i+1))

for i in range(n-1):
    print('  '*(i+1) + (str(n-i-1)+ ' ')*(n-i-1))

      1
    2 2
  3 3 3
4 4 4 4
  3 3 3
    2 2
      1

In [56]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-i-1) + (chr(65+i)+' ')*(i+1))

for i in range(n):
    print('  '*(i+1) + (chr(63+n-i)+' ')*(n-i-1))

      A
    B B
  C C C
D D D D
  C C C
    B B
      A

In [61]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-i-1), end='')
    for j in range(i+1):
        print(j+1, end=' ')
    print()

for i in range(n-1):
    print('  '*(i+1), end='')
    for j in range(n-1-i):
        print(j+1, end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [63]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-1-i), end='')
    for j in range(i+1):
        print(chr(65+j), end=' ')
    print()

for i in range(n-1):
    print('  '*(i+1), end='')
    for j in range(n-1-i):
        print(chr(65+j), end=' ')
    print()

        A
      A B
    A B C
  A B C D
A B C D E
  A B C D
    A B C
      A B
        A

In [66]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-1-i), end='')
    for j in range(i+1):
        print(n-j, end=' ')
    print()

for i in range(n-1):
    print('  '*(i+1), end='')
    for j in range(n-1-i):
        print(n-j, end=' ')
    print()

      4
    4 3
  4 3 2
4 3 2 1
  4 3 2
    4 3
      4

In [68]:
n = int(input('Enter number of rows:'))

for i in range(n):
    print('  '*(n-1-i), end='')
    for j in range(i+1):
        print(chr(64+n-j), end=' ')
    print()

for i in range(n-1):
    print('  '*(i+1), end='')
    for j in range(n-1-i):
        print(chr(64+n-j), end=' ')
    print()

      D
    D C
  D C B
D C B A
  D C B
    D C
      D